<h1>#GIRLBOSS</h1>
  <div class="parallax-container">
    <div class="parallax">

    </div>

<h1>Abs are Made in the Kitchen</h1>
<h2>Like a well-working oil machine, your body needs fuel, and that fuel comes in the form of FOOD!!!</h2>

<h3>It is important to give your body nutrients rich in fiber, protein, healthy fats, and complex carbohydrates, and breakfast, lunch, and dinner are 3 oppurtunities where you can do that (and of course we can't forget that little snack in between!).</h3>
<h4>Click on the dropdown menu to see some of our favorite recipes to become a lean mean fighting machine and a fierce #GIRLBO$$ all at the same time.</h4>
  </div> 
  <!--^^ First part of the parallax -->
  <div class="section white">
    <div class="row container">
      <style>

h1 {
  text-align: center;
  color: #FFC5DA ;
  font-family: 'Vegan Style';
}
h2 {
  text-align: center;
  color: #FFC5DA;
}

h3 {
  text-align: center;
  color: #FFC5DA;
}

h4 {
  text-align: center;
  color: #FFC5DA;
}
.dropbtn {
    background-color: #FFC5DA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 50%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFC5DA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFC5DA}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFC5DA;




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>

<h2></h2>
<!--<p>Move the mouse over the button to open the dropdown menu.</p>-->
<center>
<div class="dropdown">
  <button class="dropbtn">HOME</button>
  <div class="dropdown-content">
    <a href="https://still-garden-41437.herokuapp.com/">home</a>
  </div>
</div>
  
<div class="dropdown">
  <button class="dropbtn">FOOD</button>
  <div class="dropdown-content">
    <a href="https://still-garden-41437.herokuapp.com/breakfast">breakfast</a>
    <a href="https://still-garden-41437.herokuapp.com/lunch">lunch</a>
    <a href="https://still-garden-41437.herokuapp.com/dinner">dinner</a>
    <a href="https://still-garden-41437.herokuapp.com/snack">snacks</a>
  </div>
</div>
</center>
    </div>
  </div>
  <!--^^ second part of the parallax -->
  <div class="parallax-container">
    <div class="parallax2">
      <h2> </h2>
    </div>
  </div>


<style>

  .parallax{
    background: url('https://res.cloudinary.com/format-magazine-production/image/upload/c_limit,w_1800,h_1200,f_jpg,f_auto/dpr_1.0/c_scale,w_870,h_580/Mexican_Table_1_slzrja');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;

  }
  .section-white{
    max-width: 1440px;
    padding: 25px;
    text-align: center;
  }
  .parallax2{
    background: url('https://assets.rbl.ms/16973508/980x.jpg');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    


<body>
  }
</style>
