
  
<h1>#GIRLBO$$</h1>
  <div class="parallax-container">
    <div class="parallax">

    </div>
          <h2>As women we should try to be the best vesions of ourselves.</h2> 
      <h2>Whether that means eating better, working out, or staying safe; it is important to always be growing and working at your personal best.</h2> 
      <h2>At #GIRLBOSS we understand the struggles of being a woman.</h2> 
      <h2>We have created our website to teach women the importance of self love, and fighting off all the bad guys.</h2>
      <h2>because YOU ARE #GIRLBOSS</h2>
  </div> 
  <!--^^ First part of the parallax -->
  <div class="section white">
    <div class="row container">
      <style>
h1 {
  text-align: center;
  color: #FFC5DA ;
  font-family: 'Vegan-Style', cursive;
}
h2 {
  text-align: center;
  color: #FFC5DA;
}
.dropbtn {
    background-color: #FFC5DA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 50%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFC5DA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFC5DA}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFC5DA;




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>

<h2></h2>
<!--<p>Move the mouse over the button to open the dropdown menu.</p>-->
<center>
<div class="dropdown">
  <button class="dropbtn">FOOD</button>
  <div class="dropdown-content">
    <a href="http://girl-boss.herokuapp.com/food">meals</a>
  </div>
</div>
  
<div class="dropdown">
  <button class="dropbtn">WORKOUT</button>
  <div class="dropdown-content">
    <a href="http://girl-boss.herokuapp.com/workout">workouts</a>
  </div>
</div>
  

<div class="dropdown">
  <button class="dropbtn">SELF DEFENSE</button>
  <div class="dropdown-content">
    <a href="http://girl-boss.herokuapp.com/self_defense">self defense</a>
  </div>
  
  </center>
  
</div>
    </div>
  </div>
  <!--^^ second part of the parallax -->
  <div class="parallax-container">
    <div class="parallax2">
      <h2> </h2>
    </div>
  </div>
  <!--^^ third part of the parallax-->
  <div class="white section">
    <div class="container row">
      <h2> Meet the team!</h2>
      <h3>Aastha</h3>
      <img src="https://i.imgur.com/IuP7iKF.jpg" alt="Aastha">
         <h3>Yazzy</h3>
      <img src="https://i.imgur.com/Vor5QRf.jpg" alt="Yazzy">
         <h3>Lizzy</h3>
      <img src="https://i.imgur.com/6PDMTD7.jpg" alt="Lizzy">
      <h3>Team #GIRLBOSS</h3>
      <img src="https://i.imgur.com/yThZdK5.jpg" alt="TEAM #GIRLBOSS">
    </div>
  </div>
  <link href="https://www.dafont.com/vegan-style.font" rel="stylesheet">


<style>

  .parallax{
    background: url('https://assets.teenvogue.com/photos/558297aa941a95530d044119/master/pass/beauty-health-fitness-2014-07-karlie-kloss-nike-01.jpg');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;

  }
  .section-white{
    max-width: 1440px;
    padding: 25px;
    text-align: center;
  }
  .parallax2{
    background: url('https://i.pinimg.com/originals/ca/6f/88/ca6f883f2d1ec200c55a0a22a29912da.jpg');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    
 


<body>
  }
</style>



