
  
  <h1>#GIRLBOSS</h1>
  <div class="parallax-container">
    <div class="parallax">

    </div>
          <h1>Self Defense: Intelligence, Not Violence</h1>
<h2>TIPS</h2>

<h3>TECHNIQUES!</h3>
  </div> 
  <!--^^ First part of the parallax -->
  <div class="section white">
    <div class="row container">
      <style>

h1 {
  text-align: center;
  color: #FFC5DA ;
  font-family: 'Vegan Style';
}
h2 {
  text-align: center;
  color: #FFC5DA;
}

h3 {
  text-align: center;
  color: #FFC5DA;
}
.dropbtn {
    background-color: #FFC5DA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 50%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFC5DA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFC5DA}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFC5DA;




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>

<h2></h2>
<!--<p>Move the mouse over the button to open the dropdown menu.</p>-->
<center>
<div class="dropdown">
  <button class="dropbtn">HOME</button>
  <div class="dropdown-content">
    <a href="http://girl-boss.herokuapp.com/">home</a>
  </div>
</div>
  
  <div class="dropdown">
  <button class="dropbtn">SELF DEFENSE</button>
  <div class="dropdown-content">
    <a href="http://girl-boss.herokuapp.com/tips_techniques">tips and techniques</a>
  </div>
</div>
</center>
</div>
    </div>
  </div>
  <!--^^ second part of the parallax -->
  <div class="parallax-container">
    <div class="parallax2">
      <h2> </h2>
    </div>
  </div>


<style>

  .parallax{
    background: url('https://forcamma.com/wp-content/uploads/2017/03/Women-Self-Defense-Russellville-Forca-MMA-Event.png');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;

  }
  .section-white{
    max-width: 1440px;
    padding: 25px;
    text-align: center;
  }
  .parallax2{
    background: url('http://www.theprepperjournal.com/wp-content/uploads/2017/02/womens-self-defense-8.jpg');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    


<body>
  }
</style>
