<h1>#GIRLBOSS</h1>
  <div class="parallax-container">
    <div class="parallax">

    </div>
          <h1>Hustle for that Muscle</h1>
<h2>I'm sure you're asking yourself right now "Why would I ever want to workout? Why should I hustle for that muscle?"</h2>

<h3>It has been proven that working out reduces heart failure, releases endorphines, decreases the risk of type two diabetes and heart failure, and premotes better sleep!</h3>
  </div> 
  <!--^^ First part of the parallax -->
  <div class="section white">
    <div class="row container">
      <style>

h1 {
  text-align: center;
  color: #FFC5DA ;
  font-family: 'Vegan Style';
}
h2 {
  text-align: center;
  color: #FFC5DA;
}

h3 {
  text-align: center;
  color: #FFC5DA;
}
.dropbtn {
    background-color: #FFC5DA;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 50%;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFC5DA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFC5DA}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFC5DA;




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}
</style>
</head>

<h2></h2>
<!--<p>Move the mouse over the button to open the dropdown menu.</p>-->
<center>
<div class="dropdown">
  <button class="dropbtn">HOME</button>
  <div class="dropdown-content">
    <a href="https://still-garden-41437.herokuapp.com">home</a>
  </div>
</div>
  
  <div class="dropdown">
  <button class="dropbtn">WORKOUTS</button>
  <div class="dropdown-content">
    <a href="https://still-garden-41437.herokuapp.com/legs">legs</a>
    <a href="https://still-garden-41437.herokuapp.com/core">core</a>
    <a href="https://still-garden-41437.herokuapp.com/arms">arms</a>
    <a href="https://still-garden-41437.herokuapp.com/cardio">cardio</a>
  </div>
</div>
</center>
</div>
    </div>
  </div>
  <!--^^ second part of the parallax -->
  <div class="parallax-container">
    <div class="parallax2">
      <h2> </h2>
    </div>
  </div>


<style>

  .parallax{
    background: url('http://www.nawo.com/wp-content/uploads/2015/09/SELF-Magazin-August-2015-Cover-Star-Karlie-Kloss_3.jpg');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;

  }
  .section-white{
    max-width: 1440px;
    padding: 25px;
    text-align: center;
  }
  .parallax2{
    background: url('https://media1.popsugar-assets.com/files/thumbor/fp65cZs05AU3kJAR6qDQIJeoliY/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2014/11/18/871/n/1922729/74f643f9c284a130_10808787_725099557568653_1240214710_n/i/Karlie-Kloss.jpg');
    height: 900px;
    width: 5000px;
    no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    


<body>
  }
</style>
